<a href="https://colab.research.google.com/github/limamatias/tarea-python-banfi-lima/blob/main/Tarea_Python_Banfi_Lima.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
    Tarea 1 (Python) - Catalina Banfi y Mati­as Lima
'''

import pandas as pd #Importamos el paquete pandas
#Llamamos el link raw del archivo subido a GitHub con la base de datos de la tarea
url = 'https://raw.githubusercontent.com/limamatias/tarea-python-banfi-lima/main/tarea.csv'

**1) Leer el archivo CSV “tarea” y mostrar las primeras 5 filas.**

In [ ]:
df = pd.read_csv(url) #Leemos el archivo CSV dando como argumento el elemento url, previamente creado.
print(df.head(5)) #Seleccionamos el data frame "df" y aplicamos la función head(), mediada vía print() para poder imprimir el resultado.

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

**2) Leer el archivo CSV “tarea” y mostrar las primeras 3 filas.**

In [ ]:
df = pd.read_csv(url, nrows= 3) #Leemos el archivo CSV, pero solo seleccionando las 3 primeras columnas.
print(df) #Imprimimos el objeto df, teniendo en cuenta que ahora solo consiste con las 3 primeras columnas del archivo CSV.

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5     55    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8     61    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9     65    327  4.05  4.07  2.31

**3) Imprime el contenido de una columna como serie.**

In [ ]:
df = pd.read_csv(url) #Leemos el archivo CSV.
print(df['carat']) #Imprimimos la selección la primera columna del archivo, "carat", como serie.

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

**4) Crear una nueva serie 'calidad-color'.**

In [184]:
calidad_color = df[df.columns[1:3]] #Creamos un dataframe con las columnas de df que están entre el inicio de la posición 1 y el de la 3.
print(calidad_color) #Imprimimos el resultado.

             cut color
0          Ideal     E
1        Premium     E
2           Good     E
3        Premium     I
4           Good     J
...          ...   ...
53935      Ideal     D
53936       Good     D
53937  Very Good     D
53938    Premium     H
53939      Ideal     D

[53940 rows x 2 columns]

**5) Encontrar el número de filas y columnas y el tipo de datos de cada columna.**

In [ ]:
print(df.shape) #Usamos la función .shape para obtener el número de filas y columnas.
print(df.dtypes) #Usamos la función .dtypes para encontrar el tipo de dato de cada columna.

(53940, 10)
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

**6) Resumir sólo las columnas 'objeto'.**

In [ ]:
print(df.describe(include=['object'])) #Imprimimos el resultado de la función .describe, seleccionando solo las columnas de tipo objeto.

          cut  color clarity
count   53940  53940   53940
unique      5      7       8
top     Ideal      G     SI1
freq    21551  11292   13065

**7) Renombrar dos de las columnas. Imprimir antes y después incluyendo una línea que describa cada una.**

In [ ]:
print(df) #Imprimimos el dataframe original, con los nombres de las columnas originales.
df2 = df.rename(columns={'carat':'quilate', 'cut':'corte'}) #Renombramos las columnas 'carat' y 'cut' utilizando la función .rename().
print(df2) #Imprimimos el dataframe nuevo, con las dos primeras columnas renombradas.

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]
       quilate      corte color clarity  depth  table  price     x     y     z
0         0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1         0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2         0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3         0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4         0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...        ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935     0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936     0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937     0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938     0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939     0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

**8)	Eliminar la segunda y tercer columna.**

In [ ]:
df3 = df.drop(columns=['cut','color']) #Eliminamos la segunda y tercer columna del dataframe original, asignando el resultado a otro df.
print(df3) #Imprimimos el nuevo df, sin las columnas 'cut' y 'color'.

       carat clarity  depth  table  price     x     y     z
0       0.23     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 8 columns]

**9)	Eliminar múltiples filas a la vez.**

In [ ]:
df4 = df.drop(df.index[0:4], axis=0) #Con la función .drop() junto a .index() eliminamos las filas que se encuentran entre el índice 0 y el 4.
print(df4) #Imprimimos el resultado.

       carat        cut color clarity  depth  table  price     x     y     z
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5       0.24  Very Good     J    VVS2   62.8   57.0    336  3.94   NaN  2.48
6       0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7       0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8       0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53936 rows x 10 columns]

**10) Ordenar la columna 'cut' en orden ascendente. ¿Qué tipo de objeto es `cut’ usándolo así?**

In [ ]:
df5 = df.cut.sort_values() #Ordenamos la columna 'cut' con .sort_values(), aquí funcionando como un objeto de tipo series, en orden ascendente (no hace falta aclarar parámetros ya que es el default de la función).
print(df5) #Imprimimos el resultado.

3850          Fair
51464         Fair
51466         Fair
10237         Fair
10760         Fair
           ...
7402     Very Good
43101    Very Good
16893    Very Good
16898    Very Good
21164    Very Good
Name: cut, Length: 53940, dtype: object

**11)	Ordenar toda la base por 'carat' en orden descendente.**

In [ ]:
df6 = df.sort_values(by=['carat'], ascending=False) #Ordenamos toda la base según la columa carat. Ahora si aclaramos que el parámetro ascending, True por default, debe ser False. 
print(df6) #Imprimimos el resultado.

       carat      cut color clarity  depth  table  price      x      y     z
27415   5.01     Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98
27630   4.50     Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
27130   4.13     Fair     H      I1   64.8   61.0  17329  10.00   9.85  6.43
25999   4.01  Premium     J      I1   62.5   62.0  15223  10.02   9.94  6.24
25998   4.01  Premium     I      I1   61.0   61.0  15223  10.14  10.10  6.17
...      ...      ...   ...     ...    ...    ...    ...    ...    ...   ...
31592   0.20  Premium     E     VS2   59.0   60.0    367   3.81   3.78  2.24
31591   0.20  Premium     E     VS2   59.8   62.0    367   3.79   3.77  2.26
31601   0.20  Premium     D     VS2   61.7   60.0    367   3.77   3.72  2.31
14      0.20  Premium     E     SI2   60.2   62.0    345   3.79   3.75  2.27
31596   0.20  Premium     F     VS2   62.6   59.0    367   3.73   3.71  2.33

[53940 rows x 10 columns]

**12)	Filtrar aquellas filas que x>5, y>5 y z>5.**

In [ ]:
df7 = df[(df['x'] > 5) & (df['y'] > 5) & (df['z'] > 5)] #Filtramos la base original teniendo en cuenta las 3 condiciones.
print(df7) #Imprimimos los resultados.

       carat        cut color clarity  depth  table  price     x      y      z
11778   1.83       Fair     J      I1   70.0   58.0   5083  7.34   7.28   5.12
13002   2.14       Fair     J      I1   69.4   57.0   5405  7.74   7.70   5.36
13118   2.15       Fair     J      I1   65.5   57.0   5430  8.01   7.95   5.23
13562   1.96       Fair     F      I1   66.6   60.0   5554  7.59   7.56   5.04
13757   2.22       Fair     J      I1   66.7   56.0   5607  8.04   8.02   5.36
...      ...        ...   ...     ...    ...    ...    ...   ...    ...    ...
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90   7.97   5.04
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50   8.47   5.16
48410   0.51  Very Good     E     VS1   61.8   54.7   1970  5.12   5.15  31.80
49189   0.51      Ideal     E     VS1   61.8   55.0   2075  5.15  31.80   5.12
49905   0.50  Very Good     G    VVS1   63.7   58.0   2180  5.01   5.04   5.06

[1457 rows x 10 columns]

**13)	Filtrar las filas para que sólo muestren 'carat' mayor a 0,4.**

In [168]:
df8 = df[(df['carat'] > 0.4)] #Filtramos las filas de la base original para solo quedarnos con aquellas donde 'carat' es mayor a 0,4.
print(df8) #Imprimimos los resultados.

       carat        cut color clarity  depth  table  price     x     y     z
64      0.42    Premium     I     SI2   61.5   59.0    552  4.78  4.84  2.96
90      0.70      Ideal     E     SI1   62.5   57.0   2757  5.70  5.72  3.57
91      0.86       Fair     E     SI2   55.1   69.0   2757  6.45  6.33  3.52
92      0.70      Ideal     G     VS2   61.6   56.0   2757  5.70  5.67  3.50
93      0.71  Very Good     E     VS2   62.4   57.0   2759  5.68  5.73  3.56
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[39549 rows x 10 columns]

**14)	Filtrar filas que son Premium o Ideal.**

In [171]:
df9 = df[(df['cut'] == 'Premium') | (df['cut'] == 'Ideal')] #Filtramos las filas para que se cumpla una condición o la otra, con el operador |.
print(df9) #Imprimimos los resultados.

       carat      cut color clarity  depth  table  price     x     y     z
0       0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
11      0.23    Ideal     J     VS1   62.8   56.0    340  3.93  3.90  2.46
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72    Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75    Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[35342 rows x 10 columns]

**15)	Calcular summary statistics de  'carat'.**

In [173]:
print(df.carat.describe()) #Imprimimos el resultado de usar la función .describe() en la columna 'carat' del dataframe original.

count    53940.000000
mean         0.797940
std          0.474011
min          0.200000
25%          0.400000
50%          0.700000
75%          1.040000
max          5.010000
Name: carat, dtype: float64

**16)	Calcular la media de cada columna numérica.**

In [183]:
print(df.mean(numeric_only=True)) #Imprimimos el resultado de usar la función .mean(), pasando como parámetro que solo trabaje con columnas numéricas.

carat       0.797940
depth      61.749405
table      57.457184
price    3932.799722
x           5.731157
y           5.734559
z           3.538734
dtype: float64